@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-bg: #FAF9F6;
}

body {
  color: #328cc1;
  background-color: var(--global-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .glow-overlay {
  --glow-size: 25rem;
  position:absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radian-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%
  );
} */
