@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-bg: #FAF9F6;
}

body {
  color: #328cc1;
  background-color: var(--global-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
